<?xml version="1.0"?>
<!-- required for XML configuration samples -->
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    <section name="movieFinderConfigurationSection" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    <section name="customModuleConfigurationSection" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <movieFinderConfigurationSection defaultAssembly="AutofacSamples">
    <components>
      <component type="AutofacSamples.ComplicatingThings.XmlMovieWithRatingsFinder, AutofacSamples" service="AutofacSamples.IMovieFinder">
        <parameters>
          <parameter name="filePath" value="Movies.xml"/>
        </parameters>
      </component>
    </components>
  </movieFinderConfigurationSection>
  <customModuleConfigurationSection>    
      <modules>
        <module type="AutofacSamples.Modules.MovieFinderCustomModule, AutofacSamples">
          <properties>
            <property name="IsHddAvailable" value="false"/>
          </properties>
        </module>
      </modules>    
  </customModuleConfigurationSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
